<div class="nav">
  <div class="left-side">
    <h2>
      <a [routerLink]="['/welcome']" routerLinkActive="active" class="home"
        >Imgur</a
      >
    </h2>
  </div>
  <div class="center">
    <ul>
      <li><a href="#" routerLinkActive="active">Images</a></li>
      <li><a href="#" routerLinkActive="active">GIFs</a></li>
      <li><a href="#" routerLinkActive="active">Video</a></li>
    </ul>
  </div>
  <div class="right-side">
    <div class="user">
      <a
        *ngIf="!appService.isLoggedIn"
        [routerLink]="['/login']"
        routerLinkActive="active"
        class="login"
        >Sign In</a
      >
      <a *ngIf="appService.isLoggedIn"
          (click)="onDropdownToggle()">
          {{appService.userSecurity.account_username}}
        <!-- <span [ngStyle]="{'background-image': 'url(' + appService.userAvatar + ')'}"></span> -->
      </a>
      <div class="user-menu" [class.show]="isOpen">
        <div class="triangle"></div>
        <ul>
          <li><a [routerLink]="['/user', appService.userSecurity.account_username]" (click)="onDropdownToggle()">Account</a></li>
          <li><a href="#" routerLinkActive="active">Settings</a></li>
          <li><a (click)="onLogOut()">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
