<div class="nav">
  <div class="left-side">
    <h2>
      <a [routerLink]="['/welcome']" routerLinkActive="active" class="home"
        >Imgur</a
      >
    </h2>
  </div>
  <div class="center">
    <ul>
      <li><a routerLinkActive="active" (click)="getAvatar()">Images</a></li>
      <li><a href="#" routerLinkActive="active">GIFs</a></li>
      <li><a href="#" routerLinkActive="active">Video</a></li>
      <li><span [ngStyle]="{'background-image': 'url(' + appService.userAvatar + ')'}"></span></li>
    </ul>
  </div>
  <div class="right-side">
    <div class="user">
      <div class="login"
            *ngIf="!appService.isLoggedIn"
            [routerLink]="['/login']"
            routerLinkActive="active">
            <span>Sign In</span>
            <div class="avatar"></div>
            <!-- <img src="../../" alt=""> -->
      </div>
      <!-- <a
        *ngIf="!appService.isLoggedIn"
        [routerLink]="['/login']"
        routerLinkActive="active"
        class="login"
        >Sign In</a> -->

      <div class="login"
            *ngIf="appService.isLoggedIn"
            (click)="onDropdownToggle()">
        <span>{{appService.userSecurity.account_username}}</span>
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + appService.userAvatar + ')'}"></div>
      </div>

      <!-- <a *ngIf="appService.isLoggedIn"
          (click)="onDropdownToggle()">
          {{appService.userSecurity.account_username}}
        <div class="avatar" [ngStyle]="{'background-image': 'url(' + appService.userAvatar + ')'}"></div>
      </a> -->

      <!-- ' + appService.userAvatar + ' -->
      <div class="user-menu" [class.show]="isOpen">
        <div class="triangle"></div>
        <ul>
          <li><a [routerLink]="['/user', appService.userSecurity.account_username]" (click)="onDropdownToggle()">Account</a></li>
          <li><a href="#" routerLinkActive="active">Settings</a></li>
          <li><a (click)="onLogOut()">Sign Out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
