<div class="nav">
  <div class="left-side">
      <h2><a [routerLink]="['/welcome']" routerLinkActive="active" class="home">Imgur</a></h2>
  </div>
  <div class="center">
    <ul>
      <li><a href="#" routerLinkActive="active">Images</a></li>
      <li><a href="#" routerLinkActive="active">GIFs</a></li>
      <li><a href="#" routerLinkActive="active">Video</a></li>
    </ul>
  </div>
  <div class="right-side">
    <div class="user">
      <a [routerLink]="['/login']" routerLinkActive="active" class="login">Sign in</a>
    </div>
  </div>
</div>
