.container
  width: 100%
  min-height: calc(100vh - 60px)
  .header
    height: 300px
    display: flex
    .account-name
      display: flex
      justify-content: center
      align-items: center
      margin-left: 7%
      .logo
        width: 128px
        height: 128px
        border-radius: 50%
        background-size: cover
      .name-container
        h2
          font-size: 3em
          color: #ffffff
          margin: 0 10px
        span
          margin-top: -30px
          font-size: 1.5em
          color: #ffffff
          margin: 0 10px
