.btn
  border-style: none
  border-radius: 4px
  color: #ffffff
  font-family: Arial, Helvetica, sans-serif
  padding: 10px 25px
  cursor: pointer

.btn-primary
  background: linear-gradient(to bottom, #50bfc3, #2c7695)
  box-shadow: 0px 10px 14px -7px #276873
  &:hover
    background: #2c7695
